/* @import './Vazirfont.css'; */
:root {
  --main-color: #c8cccf;
}
a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
}
.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  background-image: url(backgroundpic.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 100% 100%, cover, cover;
  background-position: 0 0, 50%, bottom;
  background-attachment: fixed, fixed, fixed;
  position: relative;
}
.App {
  text-align: center;
  height: 100vh;
}
.App-sec {
  width: 38rem;
  height: 50rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
  position: relative;
  max-width: 35.5rem;
  max-height: 94%;
  backdrop-filter: blur(5px);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.1);
}
.App-logo {
  pointer-events: none;
  width: 70%;
  height: 28%;
  max-width: 21rem;
  object-fit: contain;

  opacity: 0.7;
}

.BeautyLogo {
  width: 60%;
  height: 60%;
  object-fit: contain;
  position: absolute;

  opacity: 0.8;
  bottom: 20%;
}
.App-link {
  /* color: #696969; */
  color: var(--main-color);
  text-decoration: none;

  width: 30%;
  line-height: 2.3rem;
  font-size: 30%;
  margin-top: 2rem;
  position: absolute;
  bottom: 44%;
  color: white;
  font-size: 34px;
  font-weight: bolder;
}
.contact-us {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 8rem;
  position: absolute;
  bottom: 1%;
  max-width: inherit;
  align-items: flex-end;
}
.icons {
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 0.3rem;
  min-width: 20px;
}
.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  width: 40%;
  color: var(--main-color) !important;
}

.row:hover {
  transition: color 0.3s;
  color: pink !important;
}
.contact-item {
  margin: 0;
}
.App-link:hover {
  transition: color 0.3s ease, 0.3s ease;
  color: pink;
}
@media only screen and (max-width: 475px) {
  .contact-us {
    align-items: center;
  }
}
@media only screen and (max-width: 325px) {
  .App-link {
    font-size: 18px;
    line-height: 1.3rem;
    bottom: 45%;
  }
  .BeautyLogo {
    width: 80%;
    height: 80%;
    bottom: 10%;
  }
}
@media only screen and (max-width: 768px) {
  .BeautyLogo {
    max-width: 20rem;
  }
  .App-sec {
    max-height: 75%;
    max-width: 80%;
  }
  .App-link {
    font-size: 22px;
    line-height: 1.5rem;
  }
  .row {
    width: 70%;
  }
}
